<h3>Ambulatório Médico</h3>

<p><img src="img/ambulatorio.jpg" alt="" width="100%"></p>

<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header">
			<i class="mdi-content-add small left primary-color-dark"></i>
			<span>Ambulatório</span>
		</div>
		<div class="collapsible-body">
			<p>
				O Ambulatório do Sindicato leva o nome do seu fundador, Sylvio de Vasconcellos. É um complexo médico/odontológico que cuida da saúde dos associados e seus dependentes. Nos seus nove andares possui atendimento em diversos serviços de saúde.
			</p>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="mdi-content-add small left primary-color-dark"></i>
			<span>Equipamentos</span>
		</div>
		<div class="collapsible-body">
			<p>Está equipado com aparelhos modernos, como os de mamografia, raio-x, densitometria óssea, ultrassonografia, ecocardiograma, eletrocardiograma, teste ergométrico, entre outros, sendo que, dependendo do exame  é cobrada uma taxa.</p>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="mdi-content-add small left primary-color-dark"></i>
			<span>Área Odontológica</span>
		</div>
		<div class="collapsible-body">
			<p>
				A área odontológica faz restaurações em resina, extrações, tratamentos de canal, limpeza e periodontia com taxas mínimas. Nos casos específicos, como colocação de prótese, tratamento de ortodontia, implante e clareamento dentário, há preços à parte.
			</p>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="mdi-content-add small left primary-color-dark"></i>
			<span>Infraestrutura</span>
		</div>
		<div class="collapsible-body">
			<p>
				Para maior comodidade do associado, há estacionamento gratuito no subsolo. O Ambulatório possui mais de 15 especialidades médicas, além de convênio com médicos, clínicas especializadas e laboratórios.
			</p>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="mdi-content-add small left primary-color-dark"></i>
			<span>Objetivo</span>
		</div>
		<div class="collapsible-body">
			<p>
				O objetivo do Sindicato é de prevenção e promoção à saúde, pretendemos diagnosticar doenças logo no seu início, e tratá-las, para o comerciário ter uma melhor qualidade de vida.
			</p>
		</div>
	</li>
</ul>

<h5>Localização</h5>

<p>Rua Dr. Diogo de Faria, 967
CEP 05418-000 - São Paulo/SP</p>

<ul class="collection phone">
    <a href="tel:1121423350">
        <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
            Telefone: 11 2142-3350
        </li>
    </a>
</ul>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58500.76633709312!2d-46.64451!3d-23.593647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a24066ef461%3A0xdc33e2eeb4f1a3af!2sR.+Dr.+Diogo+de+Faria%2C+967+-+Vila+Clementino%2C+S%C3%A3o+Paulo+-+SP%2C+04037-003%2C+Brazil!5e0!3m2!1sen!2sus!4v1440989359442" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="200"></iframe>