<div class="row home-itens">

	<div class="col s12 center-align col-logo">
		<a href="#noticias">
			<div class="content home-border">
				<img src="img/logo.png" class="logo-home center">
			</div>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#noticias">
			<div class="content home-border">
			<i class="material-icons dp48">speaker_notes</i>
			</div>
			<p>Notícias</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#historia">
			<div class="content home-border">
				<i class="material-icons dp48">business</i>
			</div>
			<p>O Sindicato</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#socios">
			<div class="content home-border">
				<i class="material-icons dp48">thumb_up</i>
			</div>
			<p>Fique sócio</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#juridico">
			<span class="content home-border">
				<i class="material-icons dp48">assignment</i>
			</span>
			<p>Atendimento Jurídico</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#parceiros">
			<span class="content home-border">
				<i class="material-icons dp48">supervisor_account</i>
			</span>
			<p>Parcerias</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#ambulatorios">
			<div class="content home-border">
				 <i class="fontello icon-users">&#xe804;</i>
			</div>
			<p>Saúde / Ambulatório</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#coloniaDeFerias">
			<div class="content home-border">
				<i class="fontello icon-emo-happy"></i>
			</div>
			<p>Lazer</p>
		</a>
	</div>

<!-- 	<div class="col s4 center-align">
		<a href="#vagaSocial">
			<span class="content home-border">
				<i class="material-icons dp48">assignment_ind</i>
			</span>
			<p>Cadastrar currículo</p>
		</a>
	</div> -->

	<div class="col s4 center-align">
		<a href="#denuncia">
			<div class="content home-border">
				<i class="fontello icon-megaphone">&#xe809;</i>
			</div>
			<p>Denúncia</p>
		</a>
	</div>

	<div class="col s4 center-align">
		<a href="#falePresidente">
			<div class="content home-border">
				<i class="material-icons dp48">question_answer</i>
			</div>
			<p>Fale com o Presidente</p>
		</a>
	</div>

</div>