<p>
	<img src="img/presidencia.jpg" alt="" width="100%"></p>

<h3>Presidência</h3>

<p>
	Ricardo Patah é o presidente do Sindicato dos Comerciários de São Paulo desde
2003, cargo que ocupa até hoje, pois foi reeleito em 2007, 2011 e 2015. Ele está na
entidade está desde 1991, onde já ocupou vários cargos até assumir a Presidência.
</p>

<p>
	Patah é comerciário desde seu primeiro emprego, em 1972, quando ingressou no
	antigo Bazar 13, incorporado pelo Grupo Pão de Açúcar. É graduado em Direito
	pela Universidade São Judas Tadeu e em Administração pela Pontifícia
	Universidade Católica (PUC) de São Paulo, também realizou cursos de qualificação
	sindical nos Estados Unidos e em Israel.
</p>

<p>
	Desde maio de 2007, integra o Conselho de Desenvolvimento Econômico e Social
	da Presidência da República, que reúne representantes da sociedade civil:
	empresários, sindicalistas, políticos e líderes de movimentos sociais.
</p>

<p>
	Também é presidente da União Geral dos Trabalhadores, UGT, central sindical que
	ajudou fundar em 2007.
</p>

<div class="row">
	<div class="col s12 mb20">
		<a href="#falePresidente" class="waves-effect waves-red btn col s12">Fale com o Presidente</a>
	</div>
</div>