<div class="row">
	<h3>Parcerias</h3>
	<img src="img/parceiros.jpg" width="100%"></div>

<div class="row mb10">
	<p>
		Preocupado com a educação dos comerciários, o Sindicato firmou parceria com
universidades, faculdades e escolas localizadas em diversas regiões da cidade. Também há
cursos técnicos, supletivos e ensino à distância. Para os filhos dos associados, há descontos
do berçário ao curso infantil.
	</p>
</div>

<div class="row">
	<a href="#faculdades" class="col s12 mb10 waves-effect waves-red btn">Faculdades e Universidades</a>
	<a href="#escolasECursos" class="col s12 mb10 waves-effect waves-red btn">Escolas e Cursos</a>
	<a href="#conveniosDiversos" class="col s12 mb10 waves-effect waves-red btn">Convênios Diversos</a>
</div>