<h3>Fale com o Presidente</h3>

<p>
	O Presidente do Sindicato quer saber suas sugestões para que nosso trabalho atenda ainda mais suas necessidades!
</p>

<p>
	É o Sindicato trabalhando para você!
</p>

<br>

<h5>Preencha o Formulário:</h5>

<div class="row">
	<form class="col s12" ng-submit="enviaForm(form)" name="formPresidente">
		<input type="hidden" value="1" name="enviar">
		<div class="row">
			<div class="input-field col s12">
				<input id="nome" ng-model="form.nome" name="nome" type="text" class="validate" required>
				<label for="nome">Nome:</label>
			</div>
			<div class="input-field col s12">
				<input id="email" ng-model="form.email" name="email" type="email" class="validate" required>
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12">
				<input id="telefone" ng-model="form.telefone" name="telefone" type="tel" class="validate" required>
				<label for="telefone">Telefone</label>
			</div>
			<div class="input-field col s12">
				<h6>Selecione:</h6>
				<p>
					<input type="radio" ng-model="form.pessoa_fisica" class="tipo" name="tipo" id="tipo_f" value="F">
					<label for="tipo_f">Pessoa Física</label>
				</p>
				<p>
					<input type="radio" ng-model="form.pessoa_fisica" class="tipo" name="tipo" id="tipo_j" value="J">
					<label for="tipo_j">Pessoa Jurídica</label>	
				</p>	
				<br>      
			</div>
			<div class="input-field col s12" ng-if="form.pessoa_fisica == 'J'">
				<input id="cnpj" ng-model="form.cnpj" name="cnpj" type="tel" class="validate">
				<label for="cnpj">CNPJ</label>
			</div>
			<div class="input-field col s12" ng-if="form.pessoa_fisica == 'F'">
				<input id="cpf" ng-model="form.cpf" name="cpf" type="tel" class="validate">
				<label for="cpf">CPF</label>
			</div>
			<div class="input-field col s12">
				<textarea id="mensagem" ng-model="form.mensagem" name="mensagem" class="validate materialize-textarea" required></textarea>
          		<label for="mensagem">Sua Mensagem</label>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 center">
				<button type="submit" class="waves-effect waves-red btn" ng-show="formPresidente.$valid">Enviar</button>
				<button type="submit" disabled class="waves-effect waves-red btn" ng-hide="formPresidente.$valid">Preencha para Enviar</button>
			</div>
		</div>
	</form>
</div>