<div class="row">
  <ul class="collapsible list-avatar" data-collapsible="accordion">
    <li ng-repeat="item in items">
      <div class="collapsible-header">
        <i class="mdi-content-add small left primary-color-dark"></i>
        <span ng-bind="item.pergunta" on-finish-render="ngRepeatFinished"></span>
      </div>
      <div class="collapsible-body">
        <img class="circle" ng-src="{{item.img}}" alt="{{item.nome}}">
        <h5><strong ng-bind="item.pergunta"></strong></h5>
        <div>
          <span ng-bind="item.resposta"></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="col s12">
    <a class="waves-effect waves-red btn col s12" href="#juridico-faq">Voltar</a>
  </div>
</div>
