<h3>FAQ</h3>

<div class="row">
  <div class="col s12">
    <ul class="collapsible list-avatar" data-collapsible="accordion">
      <li ng-repeat="item in items">
        <a class="collapsible-header" href="#juridico-faq-item/{{item.title}}">
          <i class="mdi-content-add small left primary-color-dark"></i>
          <span>{{item.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
	<div class="col s12">
		<a href="#juridico-duvidas" class="waves-effect waves-red btn col s12">Dúvidas</a>
	</div>
  <br/><br/>
	<div class="col s12">
		<a class="waves-effect waves-red btn col s12" ng-click="openConvencao()">Convenção Coletiva</a>
	</div>
</div>