<div class="row align-center">
	<div class="col s4 m3">
		<img src="img/icon-curriculoPDC.png" class="responsive-img" width=""></div>
	<div class="col s8 m9">
		<h4>Inclusão profissional PCD</h4>
	</div>
</div>

<div class="row">
	<div class="col s12">

		<p>
			Em defesa de uma sociedade mais justa e igualitária, é necessário fortalecer as
políticas públicas e assegurar qualidade da inclusão profissional das pessoas com
deficiência.
		</p>
		<p>
			Pessoas com algum tipo de deficiência, jovem aprendiz e reabilitados pelo INSS
podem cadastrar seu currículo para encaminhamento ao mercado de trabalho. As
vagas são oferecidas por empresas, que contratam esses trabalhadores
cadastrados.
		</p>

		<p>Dúvidas? Ligue:</p>
		<ul class="collection phone">
	    	<a href="tel:1121425900">
		        <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
		            Telefone: 11 2111-1825
		        </li>		        
		    </a>
		    <a href="tel:1121215912">
			    <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
			            Telefone: 11 2121-5912
		        </li>
	        </a>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 center">
		<a href="#cadastrarCurriculo" class="waves-effect waves-red btn">Efetuar Cadastro</a>
	</div>
</div>