<div class="row align-center">
	<div class="col s4 m3">
		<img src="img/icon-vagaSocial.png" class="responsive-img" width=""></div>
	<div class="col s8 m9">
		<h4>Vaga Social</h4>
	</div>
</div>

<div class="row">
	<div class="col s12">

		<p>
			O Vaga Social é um programa criado pela diretoria de Assistência Social e
		Previdência do Sindicato dos Comerciários de São Paulo.
		</p>
		<p>
			Seu objetivo é preparar, a partir de elaboração de currículos, preparação para
			entrevistas, dinâmicas e outras técnicas os comerciários desempregados e, então,
			os encaminhar para o mercado de trabalho, em vagas cadastradas por empresas.
			Este é mais um projeto que o Sindicato realiza no intuito de promover a igualdade e
			a inclusão social.
		</p>

		<ul class="collection phone">
	    	<a href="tel:1121425900">
		        <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
		            Telefone: 11 2142-5900
		        </li>
		    </a>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 center">
		<a class="waves-effect waves-red btn" ng-click="cadastrarCv()">Cadastrar Currículo</a>
	</div>
</div>