<div class="row mb20">
	<div class="col s12">
		<a href="#missInscricao" class="waves-effect waves-red btn col s12">Faça a Inscrição</a>
	</div>
</div>

<h3>Miss Comerciária Paulistana</h3>

<p>
	O Sindicato dos Comerciários de São Paulo prorroga as inscrições para o concurso Miss Comerciária Paulistana 2015 até o dia 31 de agosto. 
</p>

<p>
<strong>PREMIAÇÃO</strong> <br>
1° lugar - R$ 7 mil <br>
2º lugar - R$ 4 mil <br>
3º lugar - R$ 2 mil <br>
Miss Simpatia (voto popular): R$ 1 mil
</p>

<h5>REGULAMENTO</h5>

<p>&#8226; Ser do sexo feminino.</p>

<p>&#8226; Ter no mínimo 16 anos completos até o mês de setembro/2015.</p>

<p>&#8226; Ter celebrado contrato de trabalho com empresa comercial atacadista ou varejista.</p>

<p>&#8226; Candidatas que já tenham participado de edições anteriores não poderão efetuar nova inscrição.</p>

<p>&#8226; Serão selecionadas 16 candidatas e 6 suplentes.</p>

<p>&#8226; Durante o período de ensaios, candidatas que tiverem mais de duas faltas serão substituídas por suplentes.</p>

<p>&#8226; Todo o processo de seleção, produção e apuração ficará a cargo da equipe composta por membros do Sindicato dos Comerciários de São Paulo/Diretoria de Educação, Formação Profissional e Esporte.</p>

<p>&#8226; A candidata se compromete a participar dos ensaios das sessões de fotos programados pela comissão organizadora.</p>

<p>&#8226; Se, por motivo de força maior, na data do evento a candidata não for mais funcionária do comércio, a mesma será substituída por uma das suplentes.</p>

<p>&#8226; Em caso de comportamento inadequado durante os ensaios, treinamentos e eventos, a candidata será eliminada, sendo substituída por uma das suplentes.</p>

<p>&#8226; O evento ocorrerá em outubro.</p>

<p>&#8226; Todo o processo de seleção, ensaios e treinamentos ocorrerá na Sede do Sindicato dos Comerciários de São Paulo, localizada à Rua Formosa, 99 – Anhangabaú.</p>

<p>&#8226; Todo o processo do Concurso com relação a roupas e produção será por conta do Sindicato. Assim sendo, a candidata não terá gasto financeiro em nenhum aspecto.</p>

<br>

<p>Mais informações:</p>

<ul class="collection phone">
	<a href="tel:1121215941">
        <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
            11 2121-5941 (Andrea)
        </li>		        
    </a>
    <a href="tel:1121111773">
	    <li class="collection-item"><i class="mdi-communication-phone phone-icon"></i>
            11 2111-1773 (Valdo)
        </li>
    </a>
</ul>