<h5 class="col">Dependente 1</h5>

<div class="input-field col s12">
	<input id="nomedep1" type="text" class="nomedep1" name="nomedep1" maxlength="40">
	<label for="nomedep1">Nome Completo do Dependente 1</label>
</div>

<div class="section col s12">
	<h6 class="s12">Sexo</h6>
	<input name="sexo_dep1" type="radio" id="D1M" value="M" />
	<label for="D1M">Masculino</label>
	<br>
	<input name="sexo_dep1" type="radio" id="D1F" value="F" />
	<label for="D1F">Feminino</label>
</div>

<div class="section col s12">
	<h6 class="s12">Parentesco</h6>
	<input name="parent_dep1" type="radio" id="D1E" value="E" />
	<label for="D1E">Esposo(a)</label>
	<br>
	<input name="parent_dep1" type="radio" id="D1Filho" value="F" />
	<label for="D1Filho">Filho(a)</label>
</div>

<div class="input-field col s12">
	<input id="nasc_dep1" type="tel" class="nasc_dep1 nascMask" name="nasc_dep1" maxlength="12">
	<label for="nasc_dep1">Data de Nascimento:</label>
</div>

<div class="input-field col s12">
	<input id="rg_dep1" type="tel" class="rg_dep1 rgMask" name="rg_dep1" maxlength="15">
	<label for="rg_dep1">RG:</label>
</div>

<div class="section col s12">
	<h6 class="s12">Possui Deficiência?</h6>
	<input name="def_dep1" type="radio" id="D1DeficiencaS" value="S" />
	<label for="D1DeficiencaS">Sim</label>
	<br>
	<input name="def_dep1" type="radio" id="D1DeficiencaN" value="N" />
	<label for="D1DeficiencaN">Não</label>
</div>

<div class="input-field col s12">
	<select class="browser-default" name="tipodef_dep1">
		<option disabled selected>Selecione</option>
		<option value="AUDITIVA">Auditiva</option>
		<option value="INTELECTUAL">Intelectual</option>
		<option value="MOTORA">Motora</option>
		<option value="MULTIPLA">Multipla</option>
		<option value="VISUAL">Visual</option>
	</select>
</div>



<h5 class="col">Dependente 2</h5>

<div class="input-field col s12">
	<input id="nomedep2" type="text" class="nomedep2" name="nomedep2" maxlength="40">
	<label for="nomedep2">Nome Completo do Dependente 2</label>
</div>

<div class="section col s12">
	<h6 class="s12">Sexo</h6>
	<input name="sexo_dep2" type="radio" id="D2M" value="M" />
	<label for="D2M">Masculino</label>
	<br>
	<input name="sexo_dep2" type="radio" id="D2F" value="F" />
	<label for="D2F">Feminino</label>
</div>

<div class="section col s12">
	<h6 class="s12">Parentesco</h6>
	<input name="parent_dep2" type="radio" id="D2E" value="E" />
	<label for="D2E">Esposo(a)</label>
	<br>
	<input name="parent_dep2" type="radio" id="D2Filho" value="F" />
	<label for="D2Filho">Filho(a)</label>
</div>

<div class="input-field col s12">
	<input id="nasc_dep2" type="tel" class="nasc_dep2 nascMask" name="nasc_dep2" maxlength="12">
	<label for="nasc_dep2">Data de Nascimento:</label>
</div>

<div class="input-field col s12">
	<input id="rg_dep2" type="tel" class="rg_dep2 rgMask" name="rg_dep2" maxlength="15">
	<label for="rg_dep2">RG:</label>
</div>

<div class="section col s12">
	<h6 class="s12">Possui Deficiência?</h6>
	<input name="def_dep2" type="radio" id="D2DeficiencaS" value="S" />
	<label for="D2DeficiencaS">Sim</label>
	<br>
	<input name="def_dep2" type="radio" id="D2DeficiencaN" value="N" />
	<label for="D2DeficiencaN">Não</label>
</div>

<div class="input-field col s12">
	<select class="browser-default" name="tipodef_dep2">
		<option disabled selected>Selecione</option>
		<option value="AUDITIVA">Auditiva</option>
		<option value="INTELECTUAL">Intelectual</option>
		<option value="MOTORA">Motora</option>
		<option value="MULTIPLA">Multipla</option>
		<option value="VISUAL">Visual</option>
	</select>
</div>



<h5 class="col">Dependente 3</h5>

<div class="input-field col s12">
	<input id="nomedep3" type="text" class="nomedep3" name="nomedep3" maxlength="40">
	<label for="nomedep3">Nome Completo do Dependente 3</label>
</div>

<div class="section col s12">
	<h6 class="s12">Sexo</h6>
	<input name="sexo_dep3" type="radio" id="D3M" value="M" />
	<label for="D3M">Masculino</label>
	<br>
	<input name="sexo_dep3" type="radio" id="D3F" value="F" />
	<label for="D3F">Feminino</label>
</div>

<div class="section col s12">
	<h6 class="s12">Parentesco</h6>
	<input name="parent_dep3" type="radio" id="D3E" value="E" />
	<label for="D3E">Esposo(a)</label>
	<br>
	<input name="parent_dep3" type="radio" id="D3Filho" value="F" />
	<label for="D3Filho">Filho(a)</label>
</div>

<div class="input-field col s12">
	<input id="nasc_dep3" type="tel" class="nasc_dep3 nascMask" name="nasc_dep3" maxlength="12">
	<label for="nasc_dep3">Data de Nascimento:</label>
</div>

<div class="input-field col s12">
	<input id="rg_dep3" type="tel" class="rg_dep3 rgMask" name="rg_dep3" maxlength="15">
	<label for="rg_dep3">RG:</label>
</div>

<div class="section col s12">
	<h6 class="s12">Possui Deficiência?</h6>
	<input name="def_dep3" type="radio" id="D3DeficiencaS" value="S" />
	<label for="D3DeficiencaS">Sim</label>
	<br>
	<input name="def_dep3" type="radio" id="D3DeficiencaN" value="N" />
	<label for="D3DeficiencaN">Não</label>
</div>

<div class="input-field col s12">
	<select class="browser-default" name="tipodef_dep3">
		<option disabled selected>Selecione</option>
		<option value="AUDITIVA">Auditiva</option>
		<option value="INTELECTUAL">Intelectual</option>
		<option value="MOTORA">Motora</option>
		<option value="MULTIPLA">Multipla</option>
		<option value="VISUAL">Visual</option>
	</select>
</div>




<h5 class="col">Dependente 4</h5>

<div class="input-field col s12">
	<input id="nomedep4" type="text" class="nomedep4" name="nomedep4" maxlength="40">
	<label for="nomedep4">Nome Completo do Dependente 4</label>
</div>

<div class="section col s12">
	<h6 class="s12">Sexo</h6>
	<input name="sexo_dep4" type="radio" id="D4M" value="M" />
	<label for="D4M">Masculino</label>
	<br>
	<input name="sexo_dep4" type="radio" id="D4F" value="F" />
	<label for="D4F">Feminino</label>
</div>

<div class="section col s12">
	<h6 class="s12">Parentesco</h6>
	<input name="parent_dep4" type="radio" id="D4E" value="E" />
	<label for="D4E">Esposo(a)</label>
	<br>
	<input name="parent_dep4" type="radio" id="D4Filho" value="F" />
	<label for="D4Filho">Filho(a)</label>
</div>

<div class="input-field col s12">
	<input id="nasc_dep4" type="tel" class="nasc_dep4 nascMask" name="nasc_dep4" maxlength="12">
	<label for="nasc_dep4">Data de Nascimento:</label>
</div>

<div class="input-field col s12">
	<input id="rg_dep4" type="tel" class="rg_dep4 rgMask" name="rg_dep4" maxlength="15">
	<label for="rg_dep4">RG:</label>
</div>

<div class="section col s12">
	<h6 class="s12">Possui Deficiência?</h6>
	<input name="def_dep4" type="radio" id="D4DeficiencaS" value="S" />
	<label for="D4DeficiencaS">Sim</label>
	<br>
	<input name="def_dep4" type="radio" id="D4DeficiencaN" value="N" />
	<label for="D4DeficiencaN">Não</label>
</div>

<div class="input-field col s12">
	<select class="browser-default" name="tipodef_dep4">
		<option disabled selected>Selecione</option>
		<option value="AUDITIVA">Auditiva</option>
		<option value="INTELECTUAL">Intelectual</option>
		<option value="MOTORA">Motora</option>
		<option value="MULTIPLA">Multipla</option>
		<option value="VISUAL">Visual</option>
	</select>
</div>



<h5 class="col">Dependente 5</h5>

<div class="input-field col s12">
	<input id="nomedep5" type="text" class="nomedep5" name="nomedep5" maxlength="40">
	<label for="nomedep5">Nome Completo do Dependente 5</label>
</div>

<div class="section col s12">
	<h6 class="s12">Sexo</h6>
	<input name="sexo_dep5" type="radio" id="D5M" value="M" />
	<label for="D5M">Masculino</label>
	<br>
	<input name="sexo_dep5" type="radio" id="D5F" value="F" />
	<label for="D5F">Feminino</label>
</div>

<div class="section col s12">
	<h6 class="s12">Parentesco</h6>
	<input name="parent_dep5" type="radio" id="D5E" value="E" />
	<label for="D5E">Esposo(a)</label>
	<br>
	<input name="parent_dep5" type="radio" id="D5Filho" value="F" />
	<label for="D5Filho">Filho(a)</label>
</div>

<div class="input-field col s12">
	<input id="nasc_dep5" type="tel" class="nasc_dep5 nascMask" name="nasc_dep5" maxlength="12">
	<label for="nasc_dep5">Data de Nascimento:</label>
</div>

<div class="input-field col s12">
	<input id="rg_dep5" type="tel" class="rg_dep5 rgMask" name="rg_dep5" maxlength="15">
	<label for="rg_dep5">RG:</label>
</div>

<div class="section col s12">
	<h6 class="s12">Possui Deficiência?</h6>
	<input name="def_dep5" type="radio" id="D5DeficiencaS" value="S" />
	<label for="D5DeficiencaS">Sim</label>
	<br>
	<input name="def_dep5" type="radio" id="D5DeficiencaN" value="N" />
	<label for="D5DeficiencaN">Não</label>
</div>

<div class="input-field col s12">
	<select class="browser-default" name="tipodef_dep5">
		<option disabled selected>Selecione</option>
		<option value="AUDITIVA">Auditiva</option>
		<option value="INTELECTUAL">Intelectual</option>
		<option value="MOTORA">Motora</option>
		<option value="MULTIPLA">Multipla</option>
		<option value="VISUAL">Visual</option>
	</select>
</div>